ul{padding:0px;margin: 0px;}

.header-wrapper{background: #673AB7;padding: 10px 15px;}
.navigation-list li a{text-decoration: none;color: #fff;}
.right-nav-listing li a{text-decoration: none;color: #fff;}

.navigation-list li{list-style: none;}
.right-nav-listing li{list-style: none;}

