.example-full-width {
    width: 100%;
  }
.login-box{background: #512DA8;}
  .login-wrapper-box{width:400px;height: 400px;box-shadow:0px 0px 6px 4px rgba($color: #000000, $alpha:0.8);padding: 20px;background: #fff;}
  .error-msg{color:#f00;font-size: 12px;}
  .loginbtn{margin-top: 20px;}